@page
@model AboutModel
@{
    ViewData["Title"] = "About&Contact";
}

<div class="container" id="about-content">
    <div class="about-wrapper">
        <div class="title">
            <h1>About us</h1>
        </div>
        <div>
            <div>
                <h2>Work with us</h2>
                <div>
                    Our people are diverse, our work is interesting and important, and our environment is safe and inclusive.
                </div>
                <div>
                    <a href="https://www.industry.gov.au/node/12521">Read more: Work with us</a>
                </div>
                <div>
                    <h2>What we do</h2>
                    <div>
                        We have administrative and regulatory functions that help Australian industries prosper. We also have a legal obligation to be fair and transparent. Read about what we do and how we do it.
                    </div>
                    <div>
                        <a href=https://www.industry.gov.au/node/12536">Read more: What we do</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="contact-wrapper">
        <div class="title">
            <h1>Contact us</h1>
        </div>
        <div>
            <div>
                <h2>Switchboard enquiries</h2>
                <div>
                    Contact the switchboard if you would like to speak to a specific staff member.
                    <ul>
                        <li>
                            Our switchboard: +61 2 6213 6000
                        </li>
                        <li>
                            Our fax: +61 2 9094 2221
                        </li>
                        <li>
                            Questacon's Information Desk: 02 6270 2800
                        </li>
                        <li>
                            National Measurement Institute's General Enquiries hotline: 1800 020 076
                        </li>
                    </ul>
                </div>
            </div>
            <div>
                <h2>Our address</h2>
                <div>
                    <ul>
                        <li>
                            Our national office is located at Industry House, 10 Binara Street in the Canberra CBD.
                        </li>
                        <li>
                            Our postal address is: Department of Industry, Innovation and Science, GPO 2013, Canberra, ACT, 2601.
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>