@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<div class="overview">
    <div class="desc-wrapper text-light">
        <h1>Industry 4.0</h1>
        <h2>Home Page</h2>
    </div>
</div>
<div class="row tech-list text-center text-light">
    <div class="col-md-4 col-sm-6 col-12 tech" id="tech-1">
        <div class="tech-desc">
            <h3>Artificial Intelligence (AI)</h3>
            <p>
                Artificial intelligence (AI), sometimes called machine intelligence, is intelligence demonstrated by machines, in contrast to the natural intelligence displayed by humans and other animals.
            </p>

            <button type="button" class="btn btn-light"><a href="https://localhost:44357/Technologies#tech-grid">READ MORE&gt;&gt;&gt;</a></button>
        </div>
    </div>
    <div class="col-md-4 col-sm-6 col-12 tech" id="tech-2">
        <div class="tech-desc">
            <h3>Internet of Things (IoT)</h3>
            <p>
                The internet of things, or IoT, is a system of interrelated computing devices, mechanical and digital machines, objects, animals or people that are provided with unique identifiers (UIDs) and the ability to transfer data over a network without requiring human-to-human or human-to-computer interaction.
            </p>
            <button type="button" class="btn btn-light"><a href="https://localhost:44357/Technologies#tech-grid">READ MORE&gt;&gt;&gt;</a></button>
        </div>
    </div>
    <div class="col-md-4 col-sm-6 col-12 tech" id="tech-3">
        <div class="tech-desc">

            <h3>Cognitive Services</h3>
            <p>
                Infuse your apps, websites and bots with intelligent algorithms to see, hear, speak, understand and interpret your user needs through natural methods of communication. Transform your business with AI today.
            </p>
            <button type="button" class="btn btn-light"><a href="https://localhost:44357/Technologies#tech-grid">READ MORE&gt;&gt;&gt;</a></button>
        </div>
    </div>
    <div class="col-md-4 col-sm-6 col-12 tech text-light" id="tech-4">
        <div class="tech-desc">
            <h3>Cloud Computing</h3>
            <p>
                Cloud computing is shared pools of configurable computer system resources and higher-level services that can be rapidly provisioned with minimal management effort, often over the Internet.
            </p>
            <button type="button" class="btn btn-light"><a href="https://localhost:44357/Technologies#tech-grid">READ MORE&gt;&gt;&gt;</a></button>
        </div>
    </div>
    <div class="col-md-4 col-sm-6 col-12 tech" id="tech-5">
        <div class="tech-desc">
            <h3>Robotics</h3>
            <p>
                The Shadow robot hand system
                Robotics is an interdisciplinary branch of engineering and science that includes mechanical engineering, electronics engineering, computer science, and others.
            </p>
            <button type="button" class="btn btn-light"><a href="https://localhost:44357/Technologies#tech-grid">READ MORE&gt;&gt;&gt;</a></button>
        </div>
    </div>
    <div class="col-md-4 col-sm-6 col-12 tech" id="tech-6">
        <div class="tech-desc">
            <h3>Blockchains</h3>
            <p>
                A blockchain, originally block chain, is a growing list of records, called blocks, which are linked using cryptography.
            </p>
            <button type="button" class="btn btn-light"><a href="https://localhost:44357/Technologies#tech-grid">READ MORE&gt;&gt;&gt;</a></button>s
        </div>
    </div>
</div>

<div class="secondview">
    <div class="desc-wrapper text-dark">

    </div>
</div>

<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <ul class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
        <li data-target="#myCarousel" data-slide-to="4"></li>
        <li data-target="#myCarousel" data-slide-to="5"></li>
    </ul>
    <div class="carousel-inner">
        <div class="carousel-item  wiki-wrapper">
            <img src="~/images/wiki.png" alt="ASP.NET" class="img-responsive" />
            <div class="carousel-caption text-primary">
                <p class="wiki-content">
                    <a class="btn btn-light" href="https://en.wikipedia.org/wiki/Industry_4.0">
                        Wikipedia
                    </a>
                </p>
            </div>
        </div>
        <div class="carousel-item active">
            <img src="~/images/carousel2.jpg" alt="Visual Studio" class="img-responsive" />
            <div class="carousel-caption">
                <p>
                    Industry 4.0 introduces what has been called the “smart factory,” in which cyber-physical systems monitor the physical processes of the factory and make decentralized decisions.
                    <a class="btn btn-light" href="https://www.forbes.com/sites/bernardmarr/2016/06/20/what-everyone-must-know-about-industry-4-0/">
                        Forbes
                    </a>
                </p>
            </div>
        </div>
        <div class="carousel-item">
            <img src="~/images/ibm.jpeg" alt="Microsoft Azure" class="img-responsive" />
            <div class="carousel-caption">
                <p>

                    <a class="btn btn-light" href="https://www.ibm.com/industries/manufacturing?S_PKG=ov60479&cm_mmc=Search_Google-_-Industrial_Industrial+-+Discrete+Manufacturing-_-WW_NA-_-industry+4.0_Exact_ov60479&cm_mmca1=000020DR&cm_mmca2=10005255&cm_mmca7=9071954&cm_mmca8=kwd-297031802574&cm_mmca9=9a244c0e-4e2f-4a0c-879b-abaf5cee4a64&cm_mmca10=280798821827&cm_mmca11=e&mkwid=9a244c0e-4e2f-4a0c-879b-abaf5cee4a64|1082|36760&cvosrc=ppc.google.industry%204.0&cvo_campaign=000020DR&cvo_crid=280798821827&Matchtype=e">
                        IBM
                    </a>
                </p>
            </div>
        </div>
        <div class="carousel-item">
            <img src="~/images/in444444.jpg" alt="ASP.NET" class="img-responsive" />
            <div class="carousel-caption">
                <p>
                    <a class="btn btn-light" href="http://www.industry40news.com.au/">
                        Get Industry 4.0 news
                    </a>
                </p>
            </div>
        </div>
        <div class="carousel-item">
            <img src="~/images/inf.jpg" alt="Visual Studio" class="img-responsive" />
            <div class="carousel-caption">
                <p>
                    <a class="btn btn-light" href="https://www.einfochips.com/blog/top-industry-4-0-trends-watch-2018/">
                        Infochips
                    </a>
                </p>
            </div>
        </div>
        <div class="carousel-item">
            <img src="~/images/dep.jpg" alt="Microsoft Azure" class="img-responsive" />
            <div class="carousel-caption">
                <p>
                    Our ideas and policy leadership shape the Australian economy to drive growth and create jobs
                    <a class="btn btn-light" href="https://www.industry.gov.au/">
                        Department of Industry, Innovation and Science
                    </a>
                </p>
            </div>
        </div>
    </div>
    <a class="carousel-control-prev" href="#myCarousel" data-slide="prev">
        <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#myCarousel" data-slide="next">
        <span class="carousel-control-next-icon"></span>
    </a>
</div>
