@page
@{
    ViewData["Title"] = "Companies & Organisations";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<div class="overview">
    <div class="desc-wrapper text-light">
        <h1>Industry 4.0</h1>
        <h2>Companies and Organisations</h2>
    </div>
</div>


<div class="organisation-container">
    <div class="row text-light">
        <div class="o-item col-sm-6">
            <div class="detail-wrapper" id="org-1">
                <div class="item-detail">


                    <h3>Google</h3>
                    <p>
                        Google LLC is an American multinational technology company that specializes in Internet-related services and products, which include online advertising technologies, search engine, cloud computing, software, and hardware.
                    </p>
                    <span>
                        <a href="https://www.google.com">Learn More</a>
                    </span>
                </div>
            </div>
        </div>
        <div class="o-item col-sm-6">
            <div class="detail-wrapper" id="org-2">
                <div class="item-detail">
                    <h3>The Department of Industry, Innovation and Science</h3>
                    <p>
                        The Department of Industry, Innovation and Science is a department of the Australian Government responsible for consolidating the Government’s efforts to drive economic growth, productivity and competitiveness by bringing together industry, energy, resources and science.
                    </p>
                    <span>
                        <a href="https://www.industry.gov.au/">Learn More</a>
                    </span>
                </div>
            </div>
        </div>
        <div class="o-item col-12" >
            <div class="detail-wrapper" id="org-3">
                <div class="item-detail">
                    <h3>IBM</h3>
                    <p>
                        International Business Machines Corporation (IBM) is an American multinational technology company headquartered in Armonk, New York, United States, with operations in over 170 countries.

                    </p>
                    <span>
                        <a href="https://www.ibm.com/us-en/?lnk=fcc">Learn More</a>
                    </span>
                </div>
            </div>
        </div>
        <div class="o-item col-sm-6">
            <div class="detail-wrapper" id="org-4">
                <div class="item-detail">
                    <h3>Microsoft</h3>
                    <p>
                        Microsoft Corporation is an American multinational technology company with headquarters in Redmond, Washington. It develops, manufactures, licenses, supports and sells computer software, consumer electronics, personal computers, and related services.
                    </p>
                    <span>
                        <a href="https://www.microsoft.com/">Learn More</a>
                    </span>
                </div>
            </div>
        </div>
        <div class="o-item col-sm-6">
            <div class="detail-wrapper" id="org-5">
                <div class="item-detail">
                    <h3>CSIRO</h3>
                    <p>
                        The Commonwealth Scientific and Industrial Research Organisation (CSIRO) is an independent Australian federal government agency responsible for scientific research. Its chief role is to improve the economic and social performance of industry for the benefit of the community.
                    </p>
                    <span>
                        <a href="https://www.csiro.au/">Learn More</a>
                    </span>
                </div>
            </div>
        </div>
        <div class="o-item col-12">
            <div class="detail-wrapper" id="org-6">
                <div class="item-detail">
                    <h3>Amazon</h3>
                    <p>Amazon.com is an American electronic commerce and cloud computing company based in Seattle, Washington, that was founded by Jeff Bezos on July 5, 1994. The tech giant is the largest Internet retailer in the world as measured by revenue and market capitalization, and second largest after Alibaba Group in terms of total sales. 
                    </p>
                    <span>
                        <a href="https://www.amazon.com/">Learn More</a>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>


@*<partial name="_feedback" />*@