@page
@{
    ViewData["Title"] = "Technologies";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<div class="overview">
    <div class="desc-wrapper text-light">
        <h1>Industry 4.0</h1>
        <h2>Emerging Technologies</h2>
    </div>
</div>
<div class="introductions">
    <h3>
        There're six emerging technologies.
    </h3>
    <p>
        <ul>
            <li>
                Artificial Intelligence (AI)
            </li>
            <li>
                Internet of Things (IoT)
            </li>
            <li>
                Cognitive Services

            </li>
            <li>
                Cloud Computing
            </li>
            <li>
                Robotics
            </li>
            <li>
                Blockchains
            </li>
        </ul>
    </p>
</div>

<div id="tech-grid"></div>