<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>@ViewData["Title"] - Industry 4.0</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/4.1.3/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />

        @*<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" asp-append-version="true" />*@
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
    <link rel="stylesheet" href="~/lib/font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="~/lib/jquery-elastic-grid/css/elastic_grid.min.css" />

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>

    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT">
        </script>

        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/4.1.3/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>

        @*<script src="~/js/site.min.js" asp-append-version="true"></script>*@
    </environment>

    <script src="~/lib/jquery-elastic-grid/js/modernizr.custom.js"></script>
    <script src="~/lib/jquery-elastic-grid/js/classie.js"></script>
    <script src="~/lib/jquery-elastic-grid/js/jquery.elastislide.js"></script>
    <script src="~/lib/jquery-elastic-grid/js/jquery.hoverdir.js"></script>
    <script src="~/lib/jquery-elastic-grid/js/elastic_grid.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>




    @RenderSection("Scripts", required: false)

</head>
<body>
    <nav class="navbar navbar-expand-md bg-dark navbar-dark">

        <a asp-page="/Index" class="navbar-brand">Industry4.0</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav">
                <li class="nav-item"><a asp-page="/Index" class="nav-link">Home</a></li>
                <li class="nav-item"><a asp-page="/Organisations" class="nav-link">Companies & Organisations</a></li>
                <li class="nav-item"><a asp-page="/Technologies" class="nav-link">Emerging Technologies</a></li>
                <li class="nav-item"><a asp-page="/worldmap" class="nav-link">World Map</a></li>
                <li class="nav-item"><a asp-page="/About" class="nav-link">About & Contact</a></li>
            </ul>
            <partial name="_LoginPartial" />
        </div>
    </nav>

    <div class="container-fluid  body-content">
        <div class="main-content">
            @RenderBody()
        </div>
        <footer>
            <div class="row foot-row">

                <div class="col-sm-6 col-md-3 foot-col">

                    <ul class="menu">
                        <li><a href="/topic/about-us">About us</a></li>
                        <li><a href="/about-us/contact-us">Contact us</a></li>
                        <li><a href="/about-us/work-with-us">Jobs</a></li>
                        <li><a href="/about-us/contact-us">Media</a></li>
                    </ul>

                </div>
                <div class="col-sm-6 col-md-3 foot-col">

                    <ul class="menu">
                        <li><a href="http://minister.industry.gov.au/">Ministers</a></li>
                        <li><a href="/accessibility">Accessibility</a></li>
                        <li><a href="/privacy">Privacy</a></li>
                        <li><a href="/disclaimer">Disclaimer</a></li>
                    </ul>

                </div>
                <div class="col-sm-6 col-md-3 foot-col">

                    <ul class="menu">
                        <li><a href="/copyright">Copyright</a></li>
                        <li><a href="/about-us/what-we-do/freedom-of-information">Freedom of information</a></li>
                    </ul>

                </div>
                <div class="col-md-3 foot-col">
                    <div class="first-footer ">
                        <strong>Follow us</strong>
                        <ul>
                            <li>
                                <a href="https://plus.google.com/+IndustryGovAu" title="Follow us on Google Plus" aria-label="Follow us on Google Plus">
                                    <i class="fa fa-google-plus" aria-hidden="true"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://www.youtube.com/user/InnovationGovAu" title="Follow us on YouTube" aria-label="Follow us on YouTube">
                                    <i class="fa fa-youtube-play" aria-hidden="true"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://twitter.com/IndustryGovAu" title="Follow us on Twitter" aria-label="Follow us on Twitter">
                                    <i class="fa fa-twitter" aria-hidden="true"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://www.linkedin.com/company/department-of-innovation-industry-science-and-research" title="Follow us on LinkedIn" aria-label="Follow us on LinkedIn">
                                    <i class="fa fa-linkedin" aria-hidden="true"></i>
                                </a>
                            </li>
                            <li>
                                <a href="/our-rss-feeds" title="Subscribe to our RSS feeds" aria-label="Subscribe to our RSS feeds">
                                    <i class="fa fa-rss" aria-hidden="true"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
    </div>

</body>
</html>
