/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification 
for details on configuring this project to bundle and minify static web assets. */
body {
    /*padding-top: 56px;*/
}

html, body {
    width: 100%;
    height: 100%;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding: 0;
    width: 100%;
    height: 100%;
    min-height: 90vh;
    display: flex;
    flex-direction: column;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

#collapsibleNavbar {
    justify-content: space-between;
}

.main-content {
    flex: 1;
}

.overview {
    background: url("/images/ind1.jpg") no-repeat fixed;
    background-size: auto 100%;
    background-position: 50% 0;
    height: 500px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 0;
}

.secondview {
    background: url("/images/ind2.jpg") no-repeat fixed;
    background-size: auto 100%;
    background-position: 50% 0;
    height: 500px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 0;
}

.tech-list {
    margin: 0 0;
}

.tech {
    padding: 0;
    height: 300px;
}

.tech-desc p {
    display: block;
    max-height: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.tech-desc {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(7,17,27,0.5);
}

#tech-1 {
    background: url("/images/ai.png") no-repeat;
    background-position: 50% 0;
    background-size: 100% 100%;
}

#tech-2 {
    background: url("/images/iot.png") no-repeat;
    background-position: 50% 0;
    background-size: 100% 100%;
}

#tech-3 {
    background: url("/images/CognitiveServices.png") no-repeat;
    background-position: 50% 0;
    background-size: 100% 100%;
}

#tech-4 {
    background: url("/images/cloudcomputing.jpeg") no-repeat;
    background-position: 50% 0;
    background-size: 100% 100%;
}

#tech-5 {
    background: url("/images/Robotics.jpg") no-repeat;
    background-position: 50% 0;
    background-size: 100% 100%;
}

#tech-6 {
    background: url("/images/bc.jpg") no-repeat;
    background-position: 50% 0;
    background-size: 100% 100%;
}

.carousel-item img {
    width: 100%;
    height: 500px;
}


/*footer*/
footer {
    font-family: "Roboto","sans-serif";
    font-size: .778rem;
    font-weight: 700;
    line-height: 15px;
    background-color: rgb(45, 113, 125);
    color: white;
    padding: 36px 36px;
    box-sizing: border-box;
    width: 100%;
}

    footer a {
        color: white;
    }

    footer ul {
        list-style-type: none;
    }

.first-footer {
    padding-left: 40px;
}

    .first-footer li {
        display: inline-block;
        margin-right: 5px;
    }

    .first-footer ul {
        padding: 0;
    }

    .first-footer i {
        font-size: 24px;
    }

.foot-col {
    padding: 0;
    margin: 0;
}


/* organisations */
.organisation-container .row {
    margin: 0;
}

.organisation-container .o-item {
    height: 300px;
    text-align: center;
    padding: 0;
    font-weight: 600;
    padding: 5px;
}

.organisation-container .detail-wrapper {
    height: 100%;
}

.organisation-container .item-detail {
    background-color: rgba(7,17,27,0.4);
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}



.organisation-container .o-item span {
    background-color: rgba(7, 17, 27, 0.1);
    border-radius: 4px;
    padding: 4px 10px;
}

#org-1 {
    background: url("/images/ogoogle.jpg") no-repeat;
    background-position: 50% 0;
    background-size: 100% 100%;
}

#org-2 {
    background: url("/images/odep.jpg") no-repeat;
    background-position: 50% 0;
    background-size: 100% 100%;
}

#org-3 {
    background: url("/images/oibm.jpg") no-repeat;
    background-position: 50% 0;
    background-size: 100% 100%;
}

#org-4 {
    background: url("/images/omicrosoft.jpg") no-repeat;
    background-position: 50% 0;
    background-size: 100% 100%;
}

#org-5 {
    background: url("/images/ocsiro.jpg") no-repeat;
    background-position: 50% 0;
    background-size: 100% 100%;
}

#org-6 {
    background: url("/images/oamazon.jpg") no-repeat;
    background-position: 50% 0;
    background-size: 100% 100%;
}

/* tech*/
.introductions {
    min-height: 250px;
    padding: 40px;
    background-color: rgb(52, 58, 64);
    color: white;
}

    .introductions ul {
        font-size: 20px;
        list-style-type: none;
    }

        .introductions ul li {
            display: inline-block;
            padding: 5px;
            margin-right: 5px;
            margin-bottom: 5px;
            border: 1px solid rgba(7, 17, 27,0.1);
            background-color: rgb(24, 133, 219);
        }

#tech-grid #og-grid > li > a > img {
    width: 250px;
    height: 250px;
}

/* map */
.map-info-detail{
    display:flex;

}
.map-info-img {
    width: 100px;
    height: 100px;
}

/* about */

#about-content h1 {
    background-color: rgb(24, 133, 219);
    color: white;
    padding: 0 10px;
    margin: 0;
}
#about-content h2 {
    background-color: rgb(245, 245, 245);
    padding: 0 10px;
}
#about-content ul{
    padding-left: 40px;
}